:root {
    --bg: #1f2937;
    --lime: #a3e635;
    --light: #f3f4f6;
}

:global(body) {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: var(--lime);
}

p {
    color: var(--lime);
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--bg);
    color: var(--lime);
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.sidebar li {
    margin-bottom: 10px;
    text-decoration: none;
    list-style: none;
}

.sidebar a {
    color: var(--light);
    text-decoration: none;
}

.main {
    flex: 1;
    padding: 40px;
    background-color: var(--light);
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.card {
    width: 250px;
    height: 250px;
    background-color: var(--lime);
    border-radius: 1rem;
}
